.list {
    height:calc(100vh - 170px);
    overflow-y: scroll;
    scroll-behavior: smooth;
}
.list-item {
    display: block;
    height: 96px;
    transition: height .2s linear;
}
.list-item__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding: 0 64px 0 32px;
    position: relative;
    height: inherit;
    color: white;
    font-size: 32px;
    font-family: Roboto,Helvetica Neue,sans-serif;
    text-transform: capitalize;
}

.list-item h3 {
    display: none;
}

.list-item mat-icon {
    color: #ac0000;
    cursor: pointer;
    right: 32px;
    position: absolute;
}

.form {
    position: fixed;
    bottom: 0;
    /* background: #222222; */
}
.form .mat-expansion-panel-content {
    padding: 32px;
}
input {
    color: white;
}
.manual-input {
    width: calc(100vw - 64px);
}
.mat-form-field-ripple {
    background-color: #ac0000 !important;
}
