<div class="list" #list [scrollTop]="list.scrollHeight">
  <div class="list-item" *ngFor="let message of conversation">
    <div class="list-item__content">
      <mat-icon>{{ message.avatar }}</mat-icon>
      <h3 matLine> {{message.from}} </h3>
      <p matLine>
        <span> {{message.content}} </span>
      </p>
    </div>
  </div>
</div>

<mat-accordion class="form">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
          <mat-icon>chat</mat-icon>
      </mat-panel-title>
    </mat-expansion-panel-header>

    <mat-form-field class="manual-input">
      <input matInput #message maxlength="256" placeholder="Message" (keyup.enter)="addMessageFromUser(message)">
      <mat-icon matSuffix (click)="addMessageFromUser(message)">send</mat-icon>
    </mat-form-field>
    <mat-radio-group>
      <mat-radio-button [name]="speaker" (change)="forceSpeaker(speaker)" [checked]="true" [value]="'Automatic'">Automatic</mat-radio-button>
      <mat-radio-button [name]="speaker" (change)="forceSpeaker(speaker)" [value]="'Alexia'">Alexia</mat-radio-button>
      <mat-radio-button [name]="speaker" (change)="forceSpeaker(speaker)" [value]="'Hey Google'">Google</mat-radio-button>
    </mat-radio-group>

  </mat-expansion-panel>
</mat-accordion>
