<!--The content below is only a placeholder and can be replaced.-->
  <mat-toolbar  color="primary" role="header">
    <span>AI Summit - Praha</span>
  </mat-toolbar>
  
  <div class="content">
    <app-chat></app-chat>
  </div>  
