/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

body {
    padding: 0;
    margin: 0;
    background: #303030;
    background: url('assets/images/background.jpg') center fixed no-repeat;
    background-size: cover;
}
.content {
    height: calc(100vh - 64px);
}
.mat-toolbar.mat-primary {
    background:transparent;
}